<h1>What would you like to do?</h1>

<% if user_signed_in? %>
  <%= link_to "Logout", destroy_user_session_path, method: :delete %>
<% else %>
  <%= link_to "Login", new_user_session_path %>
<% end %>
<%= link_to "See Artists List", artists_path %>
<%# <%= link_to "Create a New Album" %>
